.slideshow-container{
    position: relative;
    max-width: 1000px;

}
.mySlides{
    display: none;
}
.prev, .next{
   cursor: pointer;
   position: absolute;
   top: 50%;
   transition: 0.6s ease;

}
.next{
    right: 0px;
}
.prev:hover,.next:hover{
    background-color: aquamarine;
}
.text{
    position: absolute;
    text-align: center;

}
.numbertext{
    position: absolute;

}
.dot{
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;

}