.model {
    display: none;
    position: fixed;
    z-index: 1;

}

.container {
    color: #002A32;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: all-scroll;
    height: 250px;
    width: 300px;
    right: 40%;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 10px;

}
.container button{
 width: 60px;
 margin: 9px;
 align-items: center;
 margin-left: 40%;
 background-color: #002A32;
 color: aliceblue;
 border-radius: 4px;
}
input,
label,
button,
span {
    margin-top: 5px;
}

input {
    
    
    text-align: center;
}

.animinate {
    -webkit-animation: animinatezoom 0.6s;
    animation: animinatezoom 0.6s;
}

@-webkit-keyframes animinatezoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animinatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
.mysection{

    align-items: center;
    margin-left: 40%;
}
.mysection image{
    position: fixed;
}
.numbertext{
    position: absolute;
    z-index: 40px;
}